.audience {
  height: 1808px;
  background-color: #edf8fb;
  padding: 50px 15px 0 15px;
  color: #2b292d;
  text-align: center;
}
@media screen and (min-width: 1400px) {
  .audience {
    width: 1400px;
    height: 953px;
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}
.audience .audience__first-title {
  font-size: 22px;
  line-height: 32px;
}
@media screen and (min-width: 1400px) {
  .audience .audience__first-title {
    margin-top: 108px;
  }
}
.audience .audience__second-title {
  font-size: 40px;
  line-height: 40px;
  margin-top: 17px;
}
@media screen and (min-width: 1400px) {
  .audience .audience__second-title {
    width: 555px;
    height: 112px;
    font-size: 56px;
    line-height: 56px;
    margin: 24px auto 0 auto;
  }
}
.audience .audience__text {
  font-size: 24px;
  line-height: 34px;
  margin-top: 18px;
}
@media screen and (min-width: 1400px) {
  .audience .audience__text {
    width: 555px;
    height: 72px;
    font-size: 24px;
    line-height: 34px;
    margin: 30px auto 0 auto;
  }
}
@media screen and (min-width: 1400px) {
  .audience .audience__button-block {
    height: 48px;
    width: 328px;
    margin: 34px auto 0 auto;
    display: flex;
    justify-content: space-between;
  }
}
.audience .audience__button-block .audience__button-get-started {
  margin-top: 30px;
}

.audience__button-get-started {
  height: 48px;
  width: 100%;
  left: 15px;
  border-radius: 2px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  background-color: #3040c4;
  color: #ffff;
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
  border: none;
}
@media screen and (min-width: 1400px) {
  .audience .audience__button-block .audience__button-get-started {
    width: 160px;
    margin-top: 0;
  }
}
.audience .audience__button-block .audience__button-learn-more {
  height: 48px;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  background-color: #fff;
  margin-top: 12px;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 10%), 0px 4px 6px rgb(0 0 0 / 5%),
    inset 0px 1px 0px rgb(255 255 255 / 10%);
  border: none;
  border-radius: 2px;
}
@media screen and (min-width: 1400px) {
  .audience .audience__button-block .audience__button-learn-more {
    width: 158px;
    margin: 0;
  }
}
.audience .audiense_galary {
  margin-top: 40px;
}
@media screen and (min-width: 1400px) {
  .audience .audiense_galary {
    display: flex;
    flex-direction: row;
    width: 1139px;
    height: 300px;
    justify-content: space-between;
    margin: 111px auto 0 auto;
  }
}
.audience .audiense_galary .user-card {
  background-color: #fff;
  margin-bottom: 15px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
    inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  height: 300px;
  padding: 22px 0 33px 0;
}
.audience .audiense_galary .user-card:hover {
  background-color: #3141c5;
  color: white;
}
@media screen and (min-width: 1400px) {
  .audience .audiense_galary .user-card {
    width: 262px;
  }
}
