.footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
}

.footer__logo {
  display: flex;
  flex-direction: row;
  background-color: #ffff;
}
.about-company {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 48px;
}
.footer__description {
  margin: 0;
  width: 360px;
  line-height: 26px;
  font-size: 18px;
  margin-top: 26px;
  display: none;
  justify-content: center;
  color: rgba(43, 41, 45, 0.6);
}

.footer-navigation {
  display: flex;
  margin: 0 15px;
  flex-direction: column;
}

.logo-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-vertical__image {
  width: 60px;
  height: 60px;
}

.logo-vertical__name {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  margin-top: 20px;
}

.logo-vertical__description {
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #2b292d;
}

.downloads {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}
.downloads__item {
  margin-right: 10px;
}

.additional-navigation {
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
}
.additional-navigation__column {
  margin-top: 30px;
}

.footer__line {
  border: 1px solid #2b2b2d;
  width: 100%;
  opacity: 0.1;
  margin-top: 40px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.additional-navigation {
  flex-direction: column;
}

@media screen and (min-width: 1400px) {
  .footer-navigation {
    display: flex;
    margin-left: 15px;
    margin-top: 53px;
    flex-direction: row;
    justify-content: space-around;
    height: 389px;
    width: 1140px;
  }

  .additional-navigation {
    width: 559px;
    height: 231px;
    margin-top: 75px;
    margin-left: auto;
    display: flex;
    flex-direction: row;
  }

  .additional-navigation__column {
    margin-top: 0px;
    margin-right: 29px;
  }

  .logo-vertical {
    display: none;
  }

  .footer__description {
    display: block;
    line-height: 26px;
    font-size: 18px;
    margin-top: 23px;
    width: 360px;
  }

  .footer-links {
    flex-direction: row;
    width: 1140px;
    height: 50px;
    margin: 0 auto;
    align-items: center;
  }

  .social-links {
    margin-left: auto;
    margin-bottom: 0px;
  }
  .terms {
    line-height: 50px;
    margin-top: 0px;
    margin-bottom: 30px;
  }
}

.downloads {
  justify-content: left;
}

.hide__desktop {
  display: none;
}

.footer__line {
  margin: 0;
}

.nav-links {
  width: 265px;
}

.nav-links__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 20px;
  color: #2b292d;
  margin: 0;
}

.nav-links__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 20px;
  color: #2b292d;
  margin: 0;
}

.nav-links__list {
  list-style-type: none;
  font-size: 18px;
  line-height: 30px;
  color: rgba(43, 41, 45, 0.6);
  padding: 0;
  margin: 0;
  margin-top: 18px;
}

.logo__image-footer {
  width: 60px;
  height: 60px;
  margin-top: 7px;
}

.logo__name-footer {
  font-size: 20px;
  height: 44px;
  line-height: 64px;
  font-weight: 700;
}

.terms {
  line-height: 22px;
  font-size: 14px;
  margin-top: 30px;
}

.terms__items {
  text-decoration: none;
  color: #2b292d;
  opacity: 0.6;
  margin-right: 22px;
}

.social-links {
  margin-top: 30px;
  margin-bottom: 23px;
}

.social-links__item {
  margin-left: 20px;
}

.social-links__item:first-child {
  margin-left: 0px;
}

@media screen and (max-width: 1399px) {
  .footer__logo {
    display: none;
  }
  .footer__description {
    display: none;
  }
  .hide__mobile {
    display: none;
  }
}
