@import 'breakpoints.scss';
@import 'header.scss';
@import 'headline.scss';
@import 'about.scss';
@import 'customers.scss';
@import 'features.scss';
@import 'tips.scss';
@import 'footer.scss';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif;
}
.page {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1400px) {
  .page {
    width: 1400px;
  }
}
