.order {
  height: 827px;
  background-color: #f4f5f7;
  padding: 50px 15px 0 15px;
}
@media screen and (min-width: 1400px) {
  .order {
    width: 1400px;
    height: 441px;
    padding: 0;
    display: flex;
    align-items: center;
  }
}
.order .order__img {
  display: block;
  margin-top: 50px;
  height: 220px;
  margin: auto;
}
@media screen and (min-width: 1400px) {
  .order .order__img {
    width: 269px;
    height: 296px;
    margin-left: 224px;
  }
}
@media screen and (min-width: 1400px) {
  .order .order-wrap {
    width: 555px;
    margin-right: 230px;
  }
}
.order .order-wrap .order__title {
  text-align: center;
  font-size: 39px;
  margin-top: 40px;
}
@media screen and (min-width: 1400px) {
  .order .order-wrap .order__title {
    text-align: start;
    margin: 0;
  }
}
.order .order-wrap .order_text {
  margin-top: 18px;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
}
@media screen and (min-width: 1400px) {
  .order .order-wrap .order_text {
    text-align: start;
    margin-top: 12px;
  }
}
@media screen and (min-width: 1400px) {
  .order .order-wrap .order__form {
    display: flex;
    margin-top: 26px;
    justify-content: space-between;
  }
}
.order .order-wrap .order__form .order-form__input {
  height: 48px;
  width: 100%;
  border: 1px solid rgba(43, 41, 45, 0.2);
  border-radius: 2px;
  font-size: 18px;
  line-height: 13px;
  text-align: center;
  color: #2b292d;
  margin-top: 80px;
}
@media screen and (min-width: 1400px) {
  .order .order-wrap .order__form .order-form__input {
    width: 385px;
    margin: 0;
  }
}

.order-form__button {
  width: 100%;
  height: 48px;
  left: 15px;
  background: #3040c4;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
  color: #ffffff;
}
.order .order-wrap .order__form .order-form__button {
  margin-top: 12px;
}
@media screen and (min-width: 1400px) {
  .order .order-wrap .order__form .order-form__button {
    width: 160px;
    margin: 0;
  }
}
.order .order-wrap .order-terms {
  margin-top: 10px;
  height: 44px;
}
@media screen and (min-width: 1400px) {
  .order .order-wrap .order-terms {
    width: 495px;
    height: 22px;
  }
}
.order .order-wrap .order-terms .order-terms__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: rgba(43, 41, 45, 0.6);
}
