.header {
  display: flex;
  height: 62px;
  margin: auto;
  flex-direction: column;
  margin-top: 0px;
}
.header__button {
  display: none;
  width: 290px;
  height: 48px;
  margin: 30px 15px 15px 15px;
  background-color: #3040c4;
  background-blend-mode: overlay, normal;
  font-size: 18px;
  line-height: 13px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}
@media screen and (min-width: 1400px) {
  .header__button {
    display: block;
    margin: 40px 130px 0 0;
    width: 160px;
    border: none;
  }
}
.header__menu-button {
  display: block;
  width: 58px;
  height: 100%;
  border-left: 1px solid rgba(0, 0, 0, 0.1490196078);
  margin-left: auto;
  background-color: transparent;
  border-bottom: none;
  border-right: none;
  border-top: none;
}
@media screen and (min-width: 1400px) {
  .header__menu-button {
    display: none;
    border: none;
  }
}
.header__menu-buttonicon {
  width: 18px;
  height: 13px;
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-hamburger.png);
  display: inline-block;
}
@media screen and (min-width: 1400px) {
  .header__menu-buttonicon {
    display: none;
  }
}

.top-section {
  background-color: #f3c6bd;
}
@media screen and (min-width: 1400px) {
  .top-section {
    height: 710px;
  }
}

.action_button {
  display: none;
}
@media screen and (min-width: 1400px) {
  .action_button {
    display: block;
  }
}

.logo {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
}
@media screen and (min-width: 1400px) {
  .logo {
    background-color: #f3c6bd;
  }
}
.logo__image {
  margin: 8px 15px;
  display: flex;
  align-items: center;
  height: 48px;
  width: 48px;
}
@media screen and (min-width: 1400px) {
  .logo__image {
    height: 60px;
    width: 60px;
    margin-top: 41px;
    margin-left: 130px;
  }
}
.logo__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 1400px) {
  .logo__text {
    margin-top: 35px;
  }
}
.logo__name {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}
.logo__description {
  display: none;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
}
@media screen and (min-width: 1400px) {
  .logo__description {
    display: block;
  }
}

.navigation {
  display: none;
}
@media screen and (min-width: 1400px) {
  .navigation {
    display: flex;
    margin: 46px 100px 0 290px;
  }
}
.navigation__item {
  color: #2b292d;
  text-decoration: none;
  line-height: 25px;
  font-size: 18px;
  margin-right: 50px;
}
.navigation__item:last-child {
  margin: 0;
}
.navigation__item_selected {
  font-weight: 700;
}
.navigation__arrow {
  display: inline-block;
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png);
  height: 5px;
  width: 8px;
  margin-left: 11px;
}

.headline {
  width: 100%;
}
@media screen and (min-width: 1400px) {
  .headline {
    position: relative;
    width: 1140px;
    margin: auto;
    margin-top: 80px;
    display: flex;
    padding-bottom: 77px;
  }
}
.headline__description {
  margin-top: 24px;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
}
@media screen and (min-width: 1400px) {
  .headline__description {
    width: 456px;
    height: 102px;
    margin: 34px 15px 30px 0px;
  }
}
.headline__title {
  font-size: 50px;
  line-height: 50px;
  font-weight: 700;
  letter-spacing: -0.5px;
}
@media screen and (min-width: 1400px) {
  .headline__title {
    width: 754px;
    height: 165px;
    font-size: 80px;
    line-height: 78px;
    z-index: 1;
  }
}
.headline__content {
  margin: 35px 15px 33px 15px;
}
@media screen and (min-width: 1400px) {
  .headline__content {
    position: absolute;
    z-index: 1;
    margin: 0;
  }
}
.headline__actions {
  margin-top: 30px;
}
@media screen and (min-width: 1400px) {
  .headline__actions {
    margin-top: 50px;
    display: flex;
  }
}
.headline__action-btn {
  width: 100%;
  height: 48px;
  background-color: #3040c4;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  border-radius: 2px;
  border: none;
}
@media screen and (min-width: 1400px) {
  .headline__action-btn {
    width: 160px;
  }
}
.headline__learn-more-btn {
  height: 48px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 2px;
  background-color: #ffffff;
  color: #3040c4;
  border: none;
  margin-top: 15px;
}
@media screen and (min-width: 1400px) {
  .headline__learn-more-btn {
    width: 158px;
    margin-left: 10px;
    margin-top: 0px;
  }
}
.headline__banner {
  width: 100%;
  margin-bottom: 36px;
}
@media screen and (min-width: 1400px) {
  .headline__banner {
    position: relative;
    right: -105px;
    top: 60px;
    width: 796px;
    height: 448px;
    margin-left: auto;
  }
}

.about {
  padding: 46px 15px 46px 15px;
  background-color: #f4f5f7;
  width: 100%;
}
@media screen and (min-width: 1400px) {
  .about {
    display: flex;
    justify-content: space-between;
    padding: 77px 131px 76px 130px;
  }
}

@media screen and (min-width: 1400px) {
  .article {
    width: 555px;
    height: 102px;
  }
}

.article__title {
  margin: 0;
  margin-top: 20px;
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
}
@media screen and (min-width: 1400px) {
  .article__title {
    margin-top: 0;
  }
}

.article__text {
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 0;
  margin-top: 0px;
}

.customers {
  display: flex;
  flex-direction: column;
}

.customers-row {
  display: flex;
}

.customers__item {
  height: 94px;
  width: 107px;
  border-bottom: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.customers__item:last-child {
  border-right: none;
}

.customers__logo {
  filter: brightness(0);
  max-width: 80%;
}

@media screen and (min-width: 1400px) {
  .customers {
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 106px;
    flex-direction: row;
  }
  .customers-row {
    flex: 1;
    justify-content: space-around;
  }
  .customers__item {
    border: none;
  }
}
.features {
  display: flex;
  position: relative;
}
@media screen and (max-width: 1399px) {
  .features {
    display: none;
  }
}
.features .features__content {
  margin: auto;
  width: 1140px;
  height: 700px;
  display: flex;
}
.features .features__column {
  width: 459px;
}
.features__subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: #089840;
  margin: 0;
}
.features__title {
  font-weight: bold;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -0.5px;
  margin-top: 24px;
  margin-bottom: 0;
}
.features__description {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 34px;
}
.features__adventage-header {
  line-height: 42px;
  display: flex;
  margin-top: 42px;
}
.features__adventage-title {
  margin: 0;
  margin-left: 15px;
  display: flex;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #3142c6;
}
.features__advantage-description {
  font-size: 18px;
  line-height: 26px;
  margin-top: 8px;
  margin-bottom: 0px;
  padding-bottom: 20px;
  border-bottom: 3px solid #3142c6;
}
.features__advantage-item {
  border-bottom: 1px solid rgba(43, 41, 45, 0.1490196078);
  margin-top: 21px;
  padding-bottom: 22px;
  display: flex;
}
.features__advantage-item-text {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  margin-left: 15px;
}
.features__left-decoration {
  position: absolute;
  top: 258px;
  height: 166px;
}
.features__banner {
  position: absolute;
  right: 0;
  width: 700px;
  height: 540px;
}

.tips {
  display: flex;
  flex-direction: column;
  position: relative;
}

.tip {
  padding: 40px 15px 0 15px;
}

.tip__subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: #009b4d;
}

.tip__title {
  margin: 0;
  margin-top: 17px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.357143px;
}

.tip__description {
  font-size: 24px;
  line-height: 34px;
  margin: 0;
  margin-top: 13px;
}

.tip__decoration {
  margin: 0;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tip__image {
  margin-top: 29px;
}

.tip__image-caption {
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: rgba(43, 41, 45, 0.6);
  margin-top: 20px;
  max-width: 100%;
}

@media screen and (min-width: 1400px) {
  .tips {
    display: none;
  }
}
.footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
}
.footer__logo {
  height: 55px;
  display: none;
  flex-direction: row;
  background-color: white;
}
@media screen and (min-width: 1400px) {
  .footer__logo {
    display: flex;
  }
}
.footer__logo__image {
  width: 60px;
  height: 60px;
  margin-top: 7px;
}
.footer__logo-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
}
.footer__description {
  display: none;
  margin: 0;
  width: 360px;
  line-height: 26px;
  font-size: 18px;
  margin-top: 26px;
  display: none;
  justify-content: center;
  color: rgba(43, 41, 45, 0.6);
}
@media screen and (min-width: 1400px) {
  .footer__description {
    display: block;
    margin-top: 30px;
  }
}
.footer-navigation {
  display: flex;
  margin: 0;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .footer-navigation {
    display: flex;
    margin-left: 130px;
    margin-top: 53px;
    flex-direction: row;
    justify-content: space-around;
    width: 1140px;
  }
}
.footer__line {
  margin-top: 59px;
  background-color: #2b2b2d;
  height: 1px;
  width: 100%;
  opacity: 0.1;
}
.footer-links {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
@media screen and (min-width: 1400px) {
  .footer-links {
    flex-direction: row;
    width: 1140px;
    height: 50px;
    margin: 0 130px 0 150px;
    align-items: center;
  }
}

.logo-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1400px) {
  .logo-vertical {
    display: none;
  }
}
.logo-vertical__image {
  width: 60px;
  height: 60px;
}
.logo-vertical__name {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  margin-top: 20px;
}

.logo__name-footer {
  font-size: 20px;
  height: 44px;
  line-height: 64px;
  font-weight: 700;
}

.logo__description {
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #2b292d;
}

.downloads {
  margin-top: 25px;
  margin-left: auto;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1400px) {
  .downloads {
    margin-left: 0px;
    margin-top: 25px;
    justify-content: left;
  }
}
.downloads__item {
  margin-right: 10px;
}

.additional-navigation {
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .additional-navigation {
    width: 559px;
    height: 231px;
    margin-top: 22px;
    margin-left: 126px;
    flex-direction: row;
  }
}
.additional-navigation__column {
  margin-top: 30px;
}
@media screen and (min-width: 1400px) {
  .additional-navigation__column {
    margin-top: 0px;
    margin-right: 29px;
  }
}

.hide__desktop {
  display: none;
}

.nav-links {
  width: 265px;
}
.nav-links__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 20px;
  color: #2b292d;
  margin: 0;
}
.nav-links__list {
  list-style-type: none;
  font-size: 18px;
  line-height: 30px;
  color: rgba(43, 41, 45, 0.6);
  padding: 0;
  margin: 0;
  margin-top: 18px;
}
.nav-links__list-item {
  line-height: 30px;
  text-decoration: inherit;
}

.terms {
  line-height: 22px;
  font-size: 14px;
  margin-top: 30px;
}
@media screen and (min-width: 1400px) {
  .terms {
    margin-top: 0px;
  }
}
.terms__items {
  text-decoration: none;
  color: #2b292d;
  opacity: 0.6;
  margin-right: 22px;
}

.social-links {
  margin-top: 30px;
  margin-bottom: 23px;
}
@media screen and (min-width: 1400px) {
  .social-links {
    margin-left: auto;
    line-height: 50px;
    margin-right: 15px;
  }
}
.social-links__item {
  margin-left: 20px;
}
.social-links__item:first-child {
  margin-left: 0px;
}

.about-company {
  margin: 40px 130px 30px 130px;
}
@media screen and (min-width: 1400px) {
  .about-company {
    margin: 0;
  }
}

@media screen and (max-width: 1399px) {
  .hide__mobile {
    display: none;
  }
}

.order {
  background-color: #f4f5f7;
  padding: 0px 15px 50px 15px;
}

@media screen and (min-width: 1400px) {
  .order {
    width: 1400px;
    height: 441px;
    padding: 0;
    display: flex;
    align-items: center;
  }
}
.order__img {
  display: flex;
  margin-top: 50px;
  margin-left: 10px;
}

@media screen and (min-width: 1400px) {
  .order .order__img {
    width: 269px;
    height: 296px;
    margin-left: 224px;
    margin-right: 122px;
  }
}
@media screen and (min-width: 1400px) {
  .order .order-wrap {
    width: 555px;
    margin-right: 230px;
  }
}
.order .order-wrap .order__title {
  text-align: center;
  font-size: 39px;
  margin-top: 40px;
}

@media screen and (min-width: 1400px) {
  .order .order-wrap .order__title {
    text-align: start;
    margin: 0;
  }
}
.order .order-wrap .order_text {
  margin-top: 18px;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
}

@media screen and (min-width: 1400px) {
  .order .order-wrap .order_text {
    text-align: start;
    margin-top: 12px;
  }
}
@media screen and (min-width: 1400px) {
  .order .order-wrap .order__form {
    display: flex;
    margin-top: 26px;
    justify-content: space-between;
  }
}
.order .order-wrap .order__form .order-form__input {
  padding-left: 72px;
  height: 48px;
  width: 100%;
  border: 1px solid rgba(43, 41, 45, 0.2);
  border-radius: 2px;
  font-size: 18px;
  line-height: 13px;
  color: #2b292d;
  margin-top: 80px;
}

@media screen and (min-width: 1400px) {
  .order .order-wrap .order__form .order-form__input {
    width: 385px;
    margin: 0;
    padding-left: 15px;
  }
}
.order-form__button {
  width: 100%;
  height: 48px;
  left: 15px;
  background: #3040c4;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
  color: #ffffff;
  border: none;
}

.order .order-wrap .order__form .order-form__button {
  margin-top: 12px;
}

@media screen and (min-width: 1400px) {
  .order .order-wrap .order__form .order-form__button {
    width: 160px;
    margin: 0;
  }
}
.button-action .order-form__button {
  border: none;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 2px;
}

.order .order-wrap .order-terms {
  margin-top: 10px;
  height: 44px;
}

@media screen and (min-width: 1400px) {
  .order .order-wrap .order-terms {
    width: 495px;
    height: 22px;
  }
}
.order .order-wrap .order-terms .order-terms__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: rgba(43, 41, 45, 0.6);
}

.audience {
  background-color: #edf8fb;
  padding: 50px 15px 0 15px;
  color: #2b292d;
  text-align: center;
}
@media screen and (min-width: 1400px) {
  .audience {
    width: 1400px;
    height: 953px;
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}

.audience .audience__first-title {
  font-size: 22px;
  line-height: 32px;
  margin-top: 0px;
}
@media screen and (min-width: 1400px) {
  .audience .audience__first-title {
    margin-top: 108px;
  }
}

.audience .audience__second-title {
  font-size: 40px;
  line-height: 40px;
  margin-top: 17px;
}
@media screen and (min-width: 1400px) {
  .audience .audience__second-title {
    width: 555px;
    height: 112px;
    font-size: 56px;
    line-height: 56px;
    margin: 24px auto 0 auto;
  }
}

.audience .audience__text {
  font-size: 24px;
  line-height: 34px;
  margin-top: 18px;
}
@media screen and (min-width: 1400px) {
  .audience .audience__text {
    width: 555px;
    height: 72px;
    font-size: 24px;
    line-height: 34px;
    margin: 30px auto 0 auto;
  }
}

.audience .action-buttons .audience__button-get-started {
  margin-top: 30px;
}

.audience__button-get-started {
  height: 48px;
  width: 100%;
  left: 15px;
  border-radius: 2px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  background-color: #3040c4;
  color: white;
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
  border: none;
}
@media screen and (min-width: 1400px) {
  .audience__button-get-started {
    width: 160px;
    margin-top: 0;
  }
}

.audience .action-buttons .audience__button-learn-more {
  height: 48px;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  background-color: #fff;
  margin-top: 12px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 2px;
}
@media screen and (min-width: 1400px) {
  .audience .action-buttons .audience__button-learn-more {
    width: 158px;
    margin: 0;
  }
}

.audience .audience__galary {
  margin-top: 40px;
}
@media screen and (min-width: 1400px) {
  .audience .audience__galary {
    display: flex;
    flex-direction: row;
    width: 1139px;
    height: 300px;
    justify-content: space-between;
    margin: 111px auto 0 auto;
  }
}

.audience .audience__galary .user-card {
  padding-bottom: 33px;
  margin-bottom: 15px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}
@media screen and (min-width: 1400px) {
  .audience .audience__galary .user-card {
    margin-bottom: 0px;
    width: 262px;
  }
}

.user-card__img {
  margin-top: 22px;
  margin-bottom: 22px;
}

.audience .audience__galary .user-card:hover {
  background-color: #3141c5;
  color: white;
}
@media screen and (min-width: 1400px) {
  .audience .audience__galary .user-card:hover {
    width: 262px;
  }
}

.user-card__text {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  align-items: center;
  margin: 0px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  overflow-x: hidden;
}

.page {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .page {
    width: 1400px;
  }
}

/*# sourceMappingURL=styles.css.map */
