.audience {
  background-color: #edf8fb;
  padding: 50px 15px 0 15px;
  color: #2b292d;
  text-align: center;
  @include for-large-up {
    width: 1400px;
    height: 953px;
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}

.audience .audience__first-title {
  font-size: 22px;
  line-height: 32px;
  margin-top: 0px;
  @include for-large-up {
    margin-top: 108px;
  }
}
.audience .audience__second-title {
  font-size: 40px;
  line-height: 40px;
  margin-top: 17px;
  @include for-large-up {
    width: 555px;
    height: 112px;
    font-size: 56px;
    line-height: 56px;
    margin: 24px auto 0 auto;
  }
}
.audience .audience__text {
  font-size: 24px;
  line-height: 34px;
  margin-top: 18px;
  @include for-large-up {
    width: 555px;
    height: 72px;
    font-size: 24px;
    line-height: 34px;
    margin: 30px auto 0 auto;
  }
}
.audience .action-buttons .audience__button-get-started {
  margin-top: 30px;
}

.audience__button-get-started {
  height: 48px;
  width: 100%;
  left: 15px;
  border-radius: 2px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  background-color: #3040c4;
  color: #ffff;
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
  border: none;
  @include for-large-up {
    width: 160px;
    margin-top: 0;
  }
}

.audience .action-buttons .audience__button-learn-more {
  height: 48px;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  background-color: #fff;
  margin-top: 12px;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 10%), 0px 4px 6px rgb(0 0 0 / 5%),
    inset 0px 1px 0px rgb(255 255 255 / 10%);
  border: none;
  border-radius: 2px;
  @include for-large-up {
    width: 158px;
    margin: 0;
  }
}
.audience .audience__galary {
  margin-top: 40px;
  @include for-large-up {
    display: flex;
    flex-direction: row;
    width: 1139px;
    height: 300px;
    justify-content: space-between;
    margin: 111px auto 0 auto;
  }
}
.audience .audience__galary .user-card {
  padding-bottom: 33px;
  margin-bottom: 15px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
    inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  @include for-large-up {
    margin-bottom: 0px;
    width: 262px;
  }
}

.user-card__img {
  margin-top: 22px;
  margin-bottom: 22px;
}
.audience .audience__galary .user-card:hover {
  background-color: #3141c5;
  color: white;
  @include for-large-up {
    width: 262px;
  }
}
.user-card__text {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  align-items: center;
  margin: 0px;
}
