.footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  &__logo {
    height: 55px;
    display: none;
    flex-direction: row;
    background-color: #ffff;

    @include for-large-up {
      display: flex;
    }
    &__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 15px;
    }
  }
  &__description {
    display: none;
    margin: 0;
    width: 360px;
    line-height: 26px;
    font-size: 18px;
    margin-top: 26px;
    display: none;
    justify-content: center;
    color: rgba(43, 41, 45, 0.6);

    @include for-large-up {
      display: block;
      margin-top: 23px;
    }
  }
  &-navigation {
    display: flex;
    margin: 0;
    flex-direction: column;

    @include for-large-up {
      display: flex;
      margin-left: 15px;
      margin-top: 53px;
      flex-direction: row;
      justify-content: space-around;
      height: 300px;
      width: 1140px;
    }
  }
  &__line {
    margin-top: 40px;
    margin: 0;
    border: 1px solid #2b2b2d;
    width: 100%;
    opacity: 0.1;
  }

  &-links {
    display: flex;
    flex-direction: column;
    margin-left: 15px;

    @include for-large-up {
      flex-direction: row;
      width: 1140px;
      height: 50px;
      margin: 0 auto;
      align-items: center;
    }
  }
}

.logo-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include for-large-up {
    display: none;
  }
  &__image {
    width: 60px;
    height: 60px;
  }
  &__name {
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    margin-top: 20px;
  }
}

.logo__image-footer {
  width: 60px;
  height: 60px;
  margin-top: 7px;
}

.logo__name-footer {
  font-size: 20px;
  height: 44px;
  line-height: 64px;
  font-weight: 700;
}

.logo__description {
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #2b292d;
}

.downloads {
  margin-top: 25px;
  margin-left: 30px;
  display: flex;
  justify-content: center;
  &__item {
    margin-right: 10px;
  }
}
.additional-navigation {
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  flex-direction: column;

  @include for-large-up {
    width: 559px;
    height: 231px;
    margin-top: 22px;
    margin-left: 126px;
    flex-direction: row;
  }
  &__column {
    margin-top: 30px;

    @include for-large-up {
      margin-top: 0px;
      margin-right: 29px;
    }
  }
}

.downloads {
  justify-content: left;
}

.hide__desktop {
  display: none;
}

.nav-links {
  width: 265px;

  &__title {
    font-weight: bold;
    font-size: 22px;
    line-height: 20px;
    color: #2b292d;
    margin: 0;
  }

  &__list {
    list-style-type: none;
    font-size: 18px;
    line-height: 30px;
    color: rgba(43, 41, 45, 0.6);
    padding: 0;
    margin: 0;
    margin-top: 18px;
    &-item {
      line-height: 33px;
    }
  }
}

.terms {
  line-height: 22px;
  font-size: 14px;
  margin-top: 30px;

  @include for-large-up {
    line-height: 50px;
    margin-top: 0px;
  }
  &__items {
    text-decoration: none;
    color: #2b292d;
    opacity: 0.6;
    margin-right: 22px;
  }
}

.social-links {
  margin-top: 30px;
  margin-bottom: 23px;

  @include for-large-up {
    margin-left: auto;
    margin-bottom: 15px;
    margin-right: 15px;
  }
  &__item {
    margin-left: 20px;
    &:first-child {
      margin-left: 0px;
    }
  }
}

.about-company {
  @include for-large-up {
    margin-left: 130px;
  }
}

.hide__mobile {
  @include for-small-up {
    display: none;
  }
}
