@import 'breakpoints.scss';
@import 'header.scss';
@import 'headline.scss';
@import 'about.scss';
@import 'customers.scss';
@import 'features.scss';
@import 'tips.scss';
@import 'footer.scss';
@import 'order.scss';
@import 'audience.scss';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif;
}
.page {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  @include for-large-up {
    width: 1400px;
  }
}
